body{
	background-color: #CBE32D;
	background-image: url(../Images/Zerointelligence1.jpeg);
}

li {
  width: 25%;
  display: inline-block;
  display: center;
  padding-left: 0%;
  padding-right: 20px;
}

.button {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.button__link {
    border: 0px solid red;
    display: block;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    line-height: 2em;
    font-size: 2em;
    margin-top: -1em;
    background: #E9C46A; 


  }

  h2 {
    color: red;
  }


.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

