body{
	background-color: #CBE32D;
	/*background-image: url(../Images/img1.png);*/
}

.jumbotron {
	/*background-image: url(../Images/img1.png);*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: red;
	text-align: center;
}

h1, p {
	color: red;
	text-align: center;
}

h2, {
	text-align: center;
}

iframe {
	padding-top: 5%;
}